@import "../../../node_modules/@mobov/scss-helper/import";
// $--element-active-color: #ffd0a3;
$--comp-suit-handler-color-normal: #03a9f4;
$--comp-suit-handler-color-locked: #ff5252;
$--comp-suit-handler-pos-fix: 0;
$--comp-suit-handler-size: 3px;
$--comp-suit-handler-corner-size: 10px;
// $--comp-suit-select-border-size: 2px;

.comp-suit {
    --comp-suit-handler-color: #{$--comp-suit-handler-color-normal};
    --comp-suit-handler-scale: .5;
    user-select: none;

    position: relative;
    //box-sizing: content-box !important;
    /*position: relative;*/
    transform: translate3d(0, 0, 0);
    &.--active {
        z-index: 99;
        border-width: 0 !important;
        >.comp-suit-handler {
            background-color: var(--comp-suit-handler-color);
            /*transition: transform ease .3s;*/
            position: absolute;
        }
        >.--↑,
        >.--→,
        >.--↓,
        >.--← {
            z-index: 100;
        }
        >.--↖,
        >.--↗,
        >.--↘,
        >.--↙ {
            z-index: 101;
            width: $--comp-suit-handler-corner-size;
            height: $--comp-suit-handler-corner-size;
            background-color: transparent;
            /*font-size: 1px;*/
            /*border-radius: 20%;*/
            border: $--comp-suit-handler-size solid var(--comp-suit-handler-color);
            /*transform: scale(var(--comp-suit-handler-scale));*/
        }

        >.--↑,
        >.--↓ {
            height: $--comp-suit-handler-size;
            width: 100%;
            left: 0;
            cursor: ns-resize;
            /*transform: scaleY(var(--comp-suit-handler-scale));*/
        }

        >.--→,
        >.--← {
            width: $--comp-suit-handler-size;
            height: 100%;
            top: 0;
            cursor: ew-resize;
            /*transform: scaleX(var(--comp-suit-handler-scale));*/
        }

        >.--↑ {
            top: 0;
            /*transform-origin: top;*/
        }

        >.--↓ {
            bottom: 0;
            /*transform-origin: bottom;*/
        }

        >.--← {
            left: 0;
            /*transform-origin: left;*/
        }

        >.--→ {
            right: 0;
            /*transform-origin: right;*/
        }

        >.--↖ {
            left: $--comp-suit-handler-pos-fix;
            top: $--comp-suit-handler-pos-fix;
            cursor: nw-resize;
            /*transform-origin: top left;*/
        }

        >.--↗ {
            right: $--comp-suit-handler-pos-fix;
            top: $--comp-suit-handler-pos-fix;
            cursor: ne-resize;
            /*transform-origin: top right;*/
        }

        >.--↙ {
            left: $--comp-suit-handler-pos-fix;
            bottom: $--comp-suit-handler-pos-fix;
            cursor: sw-resize;
            /*transform-origin: bottom left;*/
        }

        >.--↘ {
            right: $--comp-suit-handler-pos-fix;
            bottom: $--comp-suit-handler-pos-fix;
            cursor: se-resize;
            /*transform-origin: bottom right;*/
        }
    }
    &.--isLocked {
        --comp-suit-handler-color: #{$--comp-suit-handler-color-locked};
    }
    &.--isHanding {
        --comp-suit-handler-scale: 1
    }
    &.--size-none,
    &.--size-x,
    &.--size-y {
        >.--↖,
        >.--↗,
        >.--↘,
        >.--↙ {
            display: none;
        }
    }
    &.--size-none {
        >.--↑,
        >.--→,
        >.--↓,
        >.--←  {
            cursor: unset;
        }
    }
    &.--size-x {
        >.--→,
        >.--←  {
            cursor: unset;
        }
    }
    &.--size-y {
        >.--↑,
        >.--↓  {
            cursor: unset;
        }
    }
}

.previewer {
    &:hover {
        .comp-suit {
            --comp-suit-handler-scale: 1
        }
    }
}

.comp-suit-axis {
    width: 1px;
    height: 100vh;
    position: absolute;
    background-color: var(--comp-suit-handler-color);
}
